.custom-shadow {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3))
          drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.15));
  border-radius: 8px;
}

@keyframes spin-slow {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}

.myScrollbar::-webkit-scrollbar {
  width: 8px;
}
.myScrollbar::-webkit-scrollbar-track {
  background: #fcfbfbef;
}
.myScrollbar::-webkit-scrollbar-thumb {
  background-color: #df950c;
  border-radius: 9999px;
}
